<div class="header" ng-init="getDashboard()">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Overview
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            Dashboard
          </h1>
        </div>
        <div class="col-auto">
          <!-- Button -->
          <!-- <button type="button" ng-click="testHttp()" class="btn btn-primary">
            Create Report
          </button> -->
        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .header-body -->
  </div>
</div>
<!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl">
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <!-- Title -->
              <h6 class="card-title text-uppercase text-muted mb-2">
                USERS
                <span class="badge badge-soft-primary mt--1">
                  All Time
                </span>
              </h6>

              <!-- Heading -->
              <span class="h2 mb-0">
                {{dashboard.users|number:0}}
              </span>

              <!-- Badge -->
              <!-- <span class="badge badge-soft-success mt--1">
                +3.5%
              </span> -->
            </div>
            <div class="col-auto">
              <!-- Icon -->
              <span class="h2 fe fe-user text-muted mb-0"></span>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl">
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <!-- Title -->
              <h6 class="card-title text-uppercase text-muted mb-2">
                New Signups
                <span class="badge badge-soft-primary mt--1">
                  7 Days
                </span>
              </h6>

              <!-- Heading -->
              <span class="h2 mb-0">
                {{dashboard.signups|number:0}}
              </span>
            </div>
            <div class="col-auto">
              <!-- Icon -->
              <span class="h2 fe fe-user-plus text-muted mb-0"></span>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
    </div>
  </div>
  <!-- / .row -->
</div>
