<div class="row justify-content-center" ng-init="get()">
  <div class="col-12 col-lg-10 col-xl-8">
    <!-- HEADER -->
    <div class="header" ng-init="">
      <div class="container-fluid">
        <!-- Body -->
        <div class="header-body">
          <div class="row align-items-end">
            <div class="col">
              <!-- Pretitle -->
              <h6 class="header-pretitle">
                Overview
              </h6>

              <!-- Title -->
              <h1 class="header-title">
                Edit User
              </h1>
            </div>
            <div class="col-auto">
              <!-- Button -->
              <!-- <a href="#" class="btn btn-rounded-circle btn-outline-primary">
                <span class="fe fe-plus"></span>
              </a> -->
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .header-body -->
      </div>
    </div>

    <form name="form" class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              Name
            </label>

            <!-- Form text -->
            <small class="form-text text-muted">
              <!-- This is the scope name that will be used to authorize user. -->
            </small>

            <!-- Input -->
            <input
              type="text"
              name="name"
              class="form-control"
              ng-class="{'is-invalid': (form.name.$touched && form.name.$invalid)}"
              placeholder=""
              ng-model="obj.name"
              required
            />
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              Email
            </label>

            <!-- Form text -->
            <small class="form-text text-muted">
              <!-- This is the scope name that will be used to authorize user. -->
            </small>

            <!-- Input -->
            <input
              type="email"
              name="email"
              class="form-control"
              ng-class="{'is-invalid': (form.email.$touched && form.email.$invalid)}"
              placeholder=""
              ng-model="obj.email"
              required
            />
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              Permission Group
            </label>

            <!-- Form text -->
            <small class="form-text text-muted">
              <!-- Small description for the scope understanding. -->
            </small>
            <!-- Input -->
            <select
              name="permission_group"
              class="form-control"
              ng-model="obj.permission_group"
            >
              <option
                ng-repeat="e in permissions"
                value=""
                ng-selected="obj.permission_group === ''"
                >None</option
              >
              <option
                ng-repeat="e in permissions"
                value="{{e._id}}"
                ng-selected="e._id===obj.permission_group._id"
                >{{e.name}}</option
              >
            </select>
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              Change Password
            </label>

            <!-- Form text -->
            <small class="form-text text-muted" for="changePwd">
              <input type="checkbox" ng-model="changePwd" id="changePwd" />
              Do you want to change password
            </small>
            <!-- Input -->
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" ng-if="changePwd">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              Password
            </label>

            <!-- Form text -->
            <small class="form-text text-muted">
              <!-- Small description for the scope understanding. -->
            </small>
            <!-- Input -->
            <input
              type="password"
              name="password"
              class="form-control"
              ng-class="{'is-invalid': (form.password.$touched && form.password.$invalid)}"
              placeholder=""
              ng-model="obj.password"
              required
            />
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              External Reference
            </label>

            <!-- Form text -->
            <small class="form-text text-muted">
              This is the ID that can be used for other services.
            </small>

            <!-- Input -->
            <input
              type="text"
              name="external_reference"
              class="form-control"
              ng-class="{'is-invalid': (form.external_reference.$touched && form.external_reference.$invalid)}"
              placeholder=""
              ng-model="obj.external_reference"
            />
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 ">
          <button
            type="button"
            ng-click="edit(obj)"
            class="btn btn-primary lift"
            ng-disabled="form.$invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
