<div class="row justify-content-center" ng-init="get()">
  <div class="col-12 col-lg-10 col-xl-8">
    <!-- HEADER -->
    <div class="header" ng-init="">
      <div class="container-fluid">
        <!-- Body -->
        <div class="header-body">
          <div class="row align-items-end">
            <div class="col">
              <!-- Pretitle -->
              <h6 class="header-pretitle">
                Overview
              </h6>

              <!-- Title -->
              <h1 class="header-title">
                New Permission
              </h1>
            </div>
            <div class="col-auto">
              <!-- Button -->
              <!-- <a href="#" class="btn btn-rounded-circle btn-outline-primary">
                <span class="fe fe-plus"></span>
              </a> -->
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .header-body -->
      </div>
    </div>

    <form name="form" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              Name
            </label>

            <!-- Form text -->
            <small class="form-text text-muted">
              Name of the permission group.
            </small>

            <!-- Input -->
            <input
              type="text"
              name="name"
              class="form-control"
              ng-class="{'is-invalid': (form.name.$touched && form.name.$invalid)}"
              placeholder=""
              ng-model="obj.name"
              required
            />
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <!-- Label -->
            <label class="mb-1">
              Description
            </label>

            <!-- Form text -->
            <small class="form-text text-muted">
              Small description for the permission understanding.
            </small>
            <!-- Input -->
            <input
              type="text"
              name="description"
              class="form-control"
              ng-class="{'is-invalid': (form.description.$touched && form.description.$invalid)}"
              placeholder=""
              ng-model="obj.description"
              required
            />
            <div class="invalid-feedback">
              The field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="mb-1">
            Scopes
          </label>
          <!-- Form text -->
          <small class="form-text text-muted">
            Scopes available for this permission group.
          </small>
          <div class="card">
            <div class="table-responsive">
              <table class="table table-sm table-nowrap card-table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="e in scopes">
                    <td>{{e.name}}</td>
                    <td>{{e.description}}</td>
                    <td class="text-right">
                      <div
                        class="custom-control custom-checkbox table-checkbox"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="ordersSelect"
                          id="{{e._id}}"
                          ng-click="toggleCheck(e._id)"
                          ng-checked="obj.scopes.includes(e._id)"
                        />
                        <label class="custom-control-label" for="{{e._id}}">
                          &nbsp;
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 ">
          <button
            type="button"
            ng-click="edit(obj)"
            class="btn btn-primary lift"
            ng-disabled="form.$invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
