<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">

      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Sign up
      </h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Free access to our dashboard.
      </p>

      <!-- Form -->
      <form name="form">

        <!-- Email address -->
        <div class="form-group">

          <!-- Label -->
          <label>Email Address</label>

          <!-- Input -->
          <input type="email" name="email" class="form-control" ng-class="{'is-invalid': (form.email.$touched && form.email.$invalid)}"
            placeholder="name@address.com" ng-model="obj.email" required>
          <div class="invalid-feedback">
            The field is required.
          </div>

        </div>

        <!-- Password -->
        <div class="form-group">

          <div class="row">
            <div class="col">

              <!-- Label -->
              <label>Password</label>

            </div>
            <!-- <div class="col-auto">
  
                <a href="password-reset.html" class="form-text small text-muted">
                  Forgot password?
                </a>
  
              </div> -->
          </div> <!-- / .row -->

          <!-- Input group -->
          <div class="input-group input-group-merge">

            <!-- Input -->
            <input type="password" name="password" class="form-control form-control-appended" ng-class="{'is-invalid': (form.password.$touched && form.password.$invalid)}"
              placeholder="Enter your password" ng-model="obj.password" required>

            <!-- Icon -->
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fe fe-eye"></i>
              </span>
            </div>

            <div class="invalid-feedback">
              The field is required.
            </div>

          </div>
        </div>

        <!-- Submit -->
        <button class="btn btn-lg btn-block btn-primary mb-3" ng-disabled="form.$invalid" ng-click="sign_up(obj)">
          Sign up
        </button>

        <!-- Link -->
        <div class="text-center">
          <small class="text-muted text-center">
            Already have an account? <a ui-sref="auth:sign_in">Sign in</a>.
          </small>
        </div>

      </form>

    </div>
  </div> <!-- / .row -->
</div>